{{define "head"}}<title>Thank You</title>{{end}}
{{define "body"}}
    <div class="container">
      <h1>Thank you</h1>
      <p>Successfully submitted.</p>
      <p>To submit another entry, click <a href="/campaign/{{.CampaignID}}">here</a>.</p>
    </div>
{{end}}
