{{define "head"}}<title>Login</title>{{end}}
{{define "body"}}
<div>
  <form class="modal-content animate" action="/login" method="POST">
    <h1>Login</h1>
    <p>Please enter your email to start.</p>
    <p>We will send a One-Time-Password (OTP) to this address which you will need to proceed in the next step.</p>
    <div class="container">
      <label for="email"><b>Your Email</b></label>
      <input type="text" placeholder="Email" name="email" required>
      <button type="submit">Send OTP</button>
    </div>
  </form>
</div>
{{end}}
