{{define "head"}}<title>Campaign</title>{{end}}
{{define "body"}}
<H1>Campaign: {{.Title}}</H1>
<p>{{.Title}}</p>
<p>{{.TimeCreated}}</p>
<p>{{.LastSubmissionTime}}</p>
<p>{{.NrSubmissions}}</p>
{{end}}
