{{define "head"}}<title>Your Home</title>{{end}}
{{define "body"}}
<H1>Your Home</H1>
<p>Some text...</p>

<H2>Campaigns</H2>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Last Entry</th>
            <th># Entries</th>
        </tr>

        {{range $campaign := .Campaigns}}
            <tr>
                <td><a href="/user/campaign/{{$campaign.ID}}">{{$campaign.Title}}</a></td>
                <td>{{$campaign.TimeCreated}}</td>
                <td>{{$campaign.LastSubmissionTime}}</td>
                <td>{{$campaign.NrSubmissions}}</td>
            </tr>
        {{end}}
    </table>
{{end}}
